.form {
  display: flex;
}

.name_input {
  width: 150px;
  margin-right: 25px;
}

.zone_input {
  width: 150px;
  margin-right: 25px;
}

.label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input {
  border: 1px solid #171717;
  padding: 10px 20px;
  font-size: 13px;
  height: 14px;
  width: 150px;
  margin-right: 25px;
}

button {
  background-color: white;
  border: 1px solid #171717;
  padding: 10px 40px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  align-self: flex-end;
}

.icon {
  margin: 0 5px;
  vertical-align: sub;
  cursor: pointer;
}

.clock_container {
  width: 120px;
  margin: 20px 20px 20px 0;
  position: relative;
}

.clock_face {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clock_name {
  padding: 10px;
  text-align: center;
}

.clock_remover {
  position: absolute;
  right: 0;
  top: 30px;
  cursor: pointer;
  font-size: 10px;
}

.clocks {
  display: flex;
  flex-wrap: wrap;
}

.clock_face_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock_face_box::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #090909;
  border-radius: 50%;
  z-index: 999;
}

.clock_face_box .hour_arrow,
.clock_face_box .min_arrow,
.clock_face_box .sec_arrow {
  position: absolute;
}

.clock_face_box .hour_arrow,
.hr {
  width: 44px;
  height: 44px;
}

.clock_face_box .min_arrow,
.mn {
  width: 60px;
  height: 60px;
}

.clock_face_box .sec_arrow,
.sc {
  width: 60px;
  height: 60px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #070707;
  z-index: 10;
  border-radius: 50%;
}

.mn:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #000;
  z-index: 11;
  border-radius: 50%;
}

.sc:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #000;
  z-index: 12;
  border-radius: 50%;
}